 /* Work sans font */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* Shared start */

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    font-size: 1.25rem;
    padding:20px 25px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    
}
.text-light-gray{
    color: #727272;
}
.Section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #424242;
}

/* Header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display:flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner style start */

.banner-contain{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner_title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner img{
    width: 100%;
    margin-top: 20px;
}
/* Main style start */

main{
  max-width: 1440px;
  margin: 70px auto;
}
.team-conatiner{
    display: flex;
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
}
.team-info{
    padding-right: 70px;
    padding-left: 70px;
}
.team-info-title{
 font-size: 2.8rem;
}
.team-info-title .quick-list {
    color: #727272;
    font-weight: 500;
}
.team-info-title .text-features{
    color: #FF900E;
    font-weight: 700;

}
 /* Mobile responsive  */
 @media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .team-conatiner
    {
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .team-info{
        padding-left: 20px;
        padding-right: 20px;
    }
 }
 /* Medium devices */

 @media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav,
    .team-conatiner
    {
        flex-direction: column;
    }
    
}









